body {
  background-color: $light-grey;
  height: 100%;
  font-family: "brandon-grotesque";
  color: $dark-grey;
  box-sizing: border-box;
}

.container {
  @include outer-container();
  border-top: rem(6) solid $red;
  background-color: $light-grey;
  padding: rem(50) rem(20);
  padding-bottom: rem(25);
  min-height: 100%;
  &:empty {
    display: none;
  }
}

h1 {
  margin: rem(5) 0;
  font-size: rem(22);
  text-transform: uppercase;
}

progress {
  height: rem(20);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: lighten($dark-grey, 15);
  transition: all .2s linear;
  &:hover {
    color: $red;
  }
}
