body {
  background-color: $light-grey;
  height: 100%;
  font-family: "brandon-grotesque";
  color: $dark-grey;
  box-sizing: border-box;
}

.container {
  @include outer-container();
  border-top: rem(6) solid $red;
  background-color: $light-grey;
  padding: rem(50) rem(20);
  padding-bottom: rem(25);
  min-height: 100%;
  &:empty {
    display: none;
  }
}

input {
  outline: 0;
  &[type='text'],&[type='number'] {
    border: none;
    padding: rem(5);
    padding-left: rem(15);
  }
}

textarea {
  border: none;
}

hr {
  border: none;
  border-bottom: 1px solid darken($light-grey,10);
  margin: rem(15) 0;
}

h1 {
  margin: rem(5) 0;
  font-size: rem(22);
  text-transform: uppercase;
}

progress {
  height: rem(20);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: lighten($dark-grey, 15);
  transition: all .2s linear;
  &:hover {
    color: $red;
  }
}
.at-form{
  text-align: center;
#at-fitbit{
  background-color: $red;
  color: #fff;
  border: none;
  padding: 16px 25px;
  margin: 0 auto;
}
}
