.exercises {
  list-style-type: none;
  padding: 0;
  margin-top: rem(10);
}
.exercise {
  width: 100%;
  margin-bottom: rem(10);
  padding: rem(13) rem(15);
  padding-top: rem(9);
  padding-bottom: rem(13);
  background-color: #FFF;
  border: 1px solid $light-grey;
  position: relative;
  @include clearfix();
  &__name {
    float: left;
    margin: 0;
  }
  &__duration {
    float: right;
  }
  &__description {
    @include span-columns(6);
    margin-bottom: 0;
    margin-top: rem(10);
  }
  &__progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: rem(5);
    -webkit-appearance: none;
    &::-webkit-progress-bar {
      background-color: darken($light-grey,5);
    }
    &::-webkit-progress-value {
      background-color: $red;
    }
  }
  &.current {
    .exercise__name {
      color: $red;
    }
  }
}

.play-exercise {
  .play {
    fill: #FFF;
    padding-top: rem(5);
    padding-left: rem(2);
  }
}

.workout-meta {
  @include span-columns(3);
  @include clearfix();
  text-overflow: ellipsis;
}

.workout-meta-container {
  @include clearfix();
}

#workout-name {
  margin-top: rem(10);
}

.exercise-form {
  input {
    @include span-columns(3);
    &:nth-child(2) {
      margin-right: 0;
    }
  }
  textarea {
    @include span-columns(6);
    margin-top: rem(10);
    padding: rem(5);
    padding-left: rem(15);
  }
  button, input[type='submit'] {
    -webkit-appearance: none;
    appearance: none;
    float: right;
    margin-top: rem(10);
    border: none;
    padding: rem(5);
    width: 20%;
    background-color: $red;
    color: #FFF;
    margin-right: 0;
  }
  button[id="cancel-exercise"] {
    margin-right: rem(10);
  }
}
.delete-exercise {
  font-weight: normal;
  color: $red;
}
