.fab {
  position: fixed;
  bottom: rem(15);
  right: rem(15);
  width: rem(50);
  height: rem(50);
  border-radius: 50%;
  background-color: $green;
  text-align: center;
  font-weight: bold;
  padding-top: rem(10);
  font-size: rem(22);
  color: #FFF;
  -webkit-box-shadow: 0 3px 6px rgba($dark-grey,.5);
  box-shadow: 0 3px 6px rgba($dark-grey,.5);
  z-index: 120;
  &:hover {
    color: #FFF;
    -webkit-box-shadow: 0 5px 6px rgba($dark-grey,.5);
    box-shadow: 0 5px 6px rgba($dark-grey,.5);
  }
}
