.menu-bar {
  position: fixed;
  height: rem(40);
  background-color: $red;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}

.logo {
  text-align: center;
  padding-top: rem(3);
  margin-top: 0;
  color: #FFF;
  a {
    color: #FFF;
    &:hover {
      color: $dark-grey;
    }
  }
}

.menu-link {
  color: #FFF;
  text-decoration: none;
  position: absolute;
  top: rem(8);
  width: 20%;
  right: rem(20);
  &:hover {
    color: $dark-grey;
  }
}

.menu-left {
  @extend .menu-link;
  left: rem(20);
}

.menu-right {
  @extend .menu-link;
  text-align: right;
}
