.menu-bar {
  position: fixed;
  height: rem(40);
  background-color: $red;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  padding-top: rem(5);
  display: block;
  width: 50px;
}

.menu-link {
  color: #FFF;
  text-decoration: none;
  position: absolute;
  top: rem(8);
  width: 20%;
  right: rem(20);
  &:hover {
    color: $dark-grey;
  }
}

.menu-left {
  @extend .menu-link;
  left: rem(20);
}

.menu-right {
  @extend .menu-link;
  text-align: right;
}
